---
layout: default 
title: Fabien Meurillon's personal Blog
---

<!DOCTYPE html>
<html lang="en">
<head>
<title>Fabien Meurillon's personal Blog</title>
<link rel="stylesheet" media="screen" href="/assets/css/master.css"/>
</head>
<body>
<div id="container">
  <header class="group">
    <div class="header-inner">
      <h1 class="logo"><a href="/">Fabien Meurillon's personal Blog.</a></h1>
    </div>
  </header>
  <div id="content">
        <main>

            {{ content }}

        </main>    
  </div>
</div>
</body>
</html>
